.hero{
 text-align:center;
 padding:60px 20px;

 h2{
  font-size:2rem;
  margin-bottom:15px;
 }

 p{
  max-width:600px;
  margin:auto;
 }
}

.productos{
 padding:40px 20px;

 h2{
  text-align:center;
  margin-bottom:30px;
 }
}

.grid-productos{
 display:grid;
 grid-template-columns:repeat(3,1fr);
 gap:20px;
}